.titleBox {
    position: relative;
    font-size: 14px;
    color: #0d86fe;
    border-bottom: 1px solid #e4e7ed;
    .title-text {
        line-height: 40px;
    }
    .date {
        position: absolute;
        right: 0px;
        top: 10px;
    }
}

.rowBox {
    padding: 10px 0;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #e4e7ed;
}