.titleBox {
    border-bottom: 1px solid #e4e7ed;
    .title-text {
        font-size: 14px;
        color: #0d86fe;
        line-height: 40px;
    }
}

.rowBox {
    padding: 10px 0;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #e4e7ed;
}