$bottomColor:#e4e7ed;
.titleBox {
    position: relative;
    font-size: 14px;
    color: #0d86fe;
    border-bottom: 1px solid $bottomColor;
    .title-text {
        line-height: 40px;
    }
    .date {
        position: absolute;
        right: 0px;
        top: 10px;
    }
}

.rowBox {
    padding: 10px 0;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid $bottomColor;
}


/*toolbar*/

$color: #0d86fe;
.toolbar {
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    position: relative;
}

.ordertable {
    margin-top: 20px;
}


/*pagin*/

.paginBox {
    padding: 20px;
}


/*hightsearch*/

.hightsearch {
    font-size: 14px;
    color: $color;
    line-height: 40px;
    margin: 0 10px;
    position: relative;
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        left: 40%;
        top: 47px;
    }
}

.serchdetail {
    width: 100%;
}

.inlineBox {
    padding-top: 10px;
}

.totaltext {
    color: #0af;
}

.serchdetail {
    .rowBox {
        padding: 5px 0;
        ul {
            display: flex;
            li {
                padding: 0 10px;
                &.title {
                    padding: 0;
                }
                a {
                    &:hover {
                        color: #0af;
                    }
                }
                .el-date-editor {
                    &.el-input {
                        width: 160px;
                    }
                }
            }
        }
    }
}