.side-content {
    position: fixed;
    width: 180px;
    height: 100%;
    transition: width 0.28s;
    font-size: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: left;
    .el-scrollbar__view {
        height: 100%;
        .el-menu {
            height: 100%;
        }
    }
    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
    .el-submenu {
        .el-menu-item {
            min-width: 179px !important;
            background: #1f2d3d !important
        }
    }
}